body>.container {
    padding: 20px;
    border-style: none;
}

a{
    text-decoration:none;
    color: black;
}


.text-back{
    color: rgb(0, 0, 0);
}
.text-white{
    color: rgb(255, 255, 255);
}
.text-oreng{
    color: orange;
}

.light{
    background-color:rgb(52, 52, 52);
}
.bg-oreng{
    background-color: orange;
}
.bg-s{
    background-color: darkgrey;
}
